@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.table{
	
	text-align: center;
}

td#td1 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td2 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td3 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td4 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td5 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td6 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td7 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td8 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}

td#td9 {
	max-width: 100px;
	padding-bottom: 0px;
	padding-top: 0px;
}


tr td {
	padding: 10px;
	width: 100px;
	height: 100px;
}

table {
	margin-top: 2%;
	margin-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
	width: 525px;
	height: 525px;
	max-width: 525px;
	max-height: 525px;
}

h1 {
	font-size: 5em;
	font-family: 'Amatic SC';
	text-align: center;
}

body {
    background-color: #EBFFEB;
}


tr {
	
	border: 2px solid #FF4719;
}

html body table tbody td {
	border: 2px solid #FF4719;
}

.terio {
	border-radius: 50%;
}

img {
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 0px;
}

// #board {
// 	background-color: blue;
// }